@import '../../sass/variables'

.button
  height: 4rem
  width: 100%
  text-align: center
  border-radius: .8rem
  background-color: $button-bgcolor
  color: $text-bgcolor
  border: 0
  cursor: pointer

  &_round
    border-radius: 5rem

  &_disabled
    pointer-events: none
    cursor: default
