@import '../../sass/variables'

.button
  position: relative
  height: 4rem
  width: 100%
  text-align: center
  border-radius: .8rem
  background-color: $button-bgcolor
  color: $text-bgcolor
  border: 0
  cursor: pointer
  transition: all .4s ease

  &:hover
    background-color: #3356ECFF

  &__icon
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

  &_round
    border-radius: 50%

  &_disabled
    pointer-events: none
    cursor: default
