<form class="form">
    <div class="form__content">
        <h2 class="form__title">{{ formTitle }}</h2>
        {{{inputFields}}}
    </div>
    <div class="form__footer">
        {{{ submitButton }}}
        {{{ alternativeLink }}}
    </div>
</form>
