@import "src/sass/variables"

.form
  width: 32rem
  box-shadow: $box-shadow
  border-radius: .8rem
  padding: 5rem 3rem 3rem 3rem

  &__content
    margin-bottom: 17.1rem

  &__title
    margin-bottom: 4rem
    text-align: center

  &__input-field
    margin-bottom: 2.8rem
    border-bottom: 1px solid $link-color

    & > label
      font: $font-nano-regular
      color: $text-light-color

    & > input
      height: 3.5rem
      padding-left: .5rem

    &_invalid
      border-bottom: 1px solid $text-red

  &__footer > button
    margin-bottom: 1.4rem
