<div class="edit-profile">
    {{> PanelBack }}
    <div class="profile__content">
        {{> ProfileData}}
        {{> Button className="edit-profile__save-button" text="Сохранить" page="/profile" }}
    </div>
</div>
