<div class="chat-list-item">
    {{> Avatar className="chat-list-item__avatar"}}
    <div class="chat-list-item__content">
        <div class="chat-list-item__content-column">
            <h3 class="chat-list-item__name">{{lastMessage.name}}</h3>
            <h4 class="chat-list-item__last-message">
                {{ lastMessage.text }}
            </h4>
        </div>
        <div class="chat-list-item__content-column">
            <h6 class="chat-list-item__time">
                {{ lastMessage.time }}
            </h6>
            {{#if lastMessage.countUnreadMessages}}
                <h5 class="chat-list-item__unread-message">
                    {{ lastMessage.countUnreadMessages }}
                </h5>
            {{/if}}
        </div>
    </div>
</div>
