@import '../../sass/variables'

.chat-list-item
  cursor: pointer
  display: flex
  gap: 1rem
  border-top: $divider-line-color
  padding: 1.2rem 1rem

  &:hover
    background-color: $chat-list-current-bgcolor

  &__content
    display: flex
    flex: 1
    justify-content: space-between
    text-align: start

  &__content-column
    display: flex
    flex-direction: column

    &:nth-child(1)
      gap: .8rem

    &:nth-child(2)
      gap: 1.4rem
      align-items: end

  &__unread-messages
    height: 2rem
    width: 2rem
    cursor: default

  &__last-message
    height: 3rem
    color: $text-light-color
    overflow: hidden
    line-height: 1.5rem

  &__time
    color: $text-light-color
    line-height: 1.3rem

  &__unread-message
    display: flex
    justify-content: center
    align-items: center
    width: 2rem
    height: 2rem
    border-radius: 50%
    color: $text-bgcolor
    background-color: $link-color