@import "./src/sass/variables"

.profile-data
  display: flex
  flex-direction: column
  align-items: center
  width: 100%

  &__avatar
    width: 13rem
    height: 13rem
    margin-bottom: 2rem

  &__name
    margin-bottom: 6rem

  &__list
    width: 100%
    margin-bottom: 6rem

  &__edit-text-field
    padding: 1rem 0

    &:last-child
      border-bottom: none
