<div class="center-container">
    <div class="error-500">
        <h1 class="error-500__title">500</h1>
        <h2 class="error-500__subtitle">Мы уже фиксим</h2>
        {{> Link text="Назад к чатам" page="/chat" }}
    </div>
</div>
