<div class="edit-text-field{{#if className}} {{ className }}{{/if}}">
    <h3 class="edit-text-field__title">{{ title }}</h3>
    {{{ input }}}
    {{#if error}}<h5 class="error-text">{{error}}</h5>{{/if}}
</div>
