@import '../../sass/variables'

.edit-text-field
  display: flex
  justify-content: space-between
  align-items: center
  font-size: 13px
  font-weight: 500
  border-bottom: 1px solid $divider-line-color

  &__title
    color: #1E1E1E

  &__element > input
      text-align: end
      color: #999