<div class="edit-text-field{{#if className}} {{ className }} {{/if}}">
    <div class="edit-text-field__title">{{ title }}</div>
    {{> Input className="edit-text-field__element input__element--align-right" type=type title=title name=name }}
</div>