<form class="login-page">
    <div class="login-page__content">
        {{> PageTitle className="login-page__title" title="Вход" }}
        {{> InputField className="login-page__input" title="Логин" name="login" value="ivanivanov"}}
        {{> InputField className="login-page__input" title="Пароль" name="password" type="password" value="1234567890"}}
    </div>
    <div class="login-page__footer">
        {{> Button text="Авторизоваться" page="/chat" }}
        {{> Link text="Нет аккаунта?" page="/sign_up" }}
    </div>
</form>