<div class="input-field {{#if className}}{{ className }}{{/if}}">
    <label class="input-field__title">{{title}}</label>
    {{{ input }}}
    {{#if error}}<h5 class="error-text">{{error}}</h5>{{/if}}
</div>

