<div class="chats-dialog-header">
  <div class="chats-dialog-header__avatar-group">
    {{{avatar}}}
    <div class="chats-dialog-header__column">
      <h3 class="chats-dialog-header__username">{{{title}}}</h3>
      <h5 class="chats-dialog-header__users-count">Количество участников: {{{usersCount}}}</h5>
    </div>

  </div>
  {{{customUsersButton}}}
</div>