<div class="chats-dialog-header">
  <div class="chats-dialog-header__avatar-group">
    {{{avatar}}}
    <h3 class="chats-dialog-header__username">{{{title}}}</h3>
  </div>
  {{{customUsersButton}}}
</div>