@import "../../sass/variables"

.chats-dialog
  cursor: default
  display: flex
  flex: 1
  flex-direction: column

  &__choose-chat
    display: flex
    align-items: center
    justify-content: center
    flex: 1
    color: $text-light-color

  &__content
    flex: 1
    height: 95%
    overflow: auto
    scrollbar-width: thin
    padding: 0 2rem