<div class="center-container">
    <div class="error-404">
        <h1 class="error-404__title">404</h1>
        <h2 class="error-404__subtitle">Не туда попали</h2>
        {{> Link text="Назад к чатам" page="/chat" }}
    </div>
</div>
