@import "./src/sass/variables"

.avatar
  display: flex
  justify-content: center
  align-items: center
  min-width: 4.7rem
  min-height: 4.7rem
  background-color: $gray-light-color
  border-radius: 50%
