@import "./src/sass/variables"

.chat-list
  height: 100vh
  width: 31rem
  padding: 0 1rem
  background-color: $chat-list-bgcolor
  overflow: auto
  scrollbar-width: none
  -ms-overflow-style: none
  text-align: end
  border-right: $divider-line-color

  &__header
    background-color: $chat-list-bgcolor
    position: fixed
    width: 31rem
    z-index: 2

  &__profile-link
    display: inline-block
    width: fit-content
    color: $text-light-color
    margin: 2.1rem 0 2.3rem 0

  &__search
    background-color: $gray-light-color
    height: 3.2rem
    margin-bottom: 1.4rem
    padding: .5rem
    border-radius: .5rem
    font-size: 1.4rem
    font-weight: 500
    text-align: center
    color: $text-light-color

  &__messages
    margin-top: 11rem
