@import "./src/sass/variables"

.chat

  &__list
    height: 100vh
    width: 31rem
    padding: 0 1rem
    background-color: $chat-list-bgcolor
    overflow: auto
    scrollbar-width: none
    -ms-overflow-style: none
    text-align: end
    border-right: $divider-line-color

  &__profile-link
    display: inline-block
    width: fit-content
    color: $text-light-color
    margin: 2.1rem 0 2.3rem 0

  &__search-items
    background-color: $gray-light-color
    height: 2.2rem
    margin-bottom: 1.4rem
    padding: .5rem
    border-radius: .5rem

    & > input
      font-size: 1.4rem
      font-weight: 500
      background-color: $gray-light-color
      text-align: center
      color: $text-light-color
