<div class="chat-list">
    <div class="chat-list__header">
        {{{profileLink}}}
        {{{searchInput}}}
    </div>
    <div class="chat-list__messages">
        {{{chatListItem}}}
    </div>
</div>
