<div class="chat">
    <div class="chat__list">
        {{> Link className="chat__profile-link" text="Профиль >" page="/profile"}}
        {{> Input className="chat__search-items" name="login" value="Поиск"}}
        <div class="chat__list-item">
            {{> Avatar className="list-item__avatar"}}
            <div class="list-item__content">
                <div class="list-item__content-column">
                    <div class="list-item__name">Андрей</div>
                    <div class="list-item__last-message">Изображение</div>
                </div>
                <div class="list-item__content-column">
                    <div class="list-item__time">10:49</div>
                    <div class="list-item__unread-message">
                        2
                    </div>
                </div>
            </div>
        </div>
        <div class="chat__list-item">
            {{> Avatar className="list-item__avatar"}}
            <div class="list-item__content">
                <div class="list-item__content-column">
                    <div class="list-item__name">Андрей</div>
                    <div class="list-item__last-message">Изображение</div>
                </div>
                <div class="list-item__content-column">
                    <div class="list-item__time">10:49</div>
                    <div class="list-item__unread-message">
                        2
                    </div>
                </div>
            </div>
        </div>
        <div class="chat__list-item">
            {{> Avatar className="list-item__avatar"}}
            <div class="list-item__content">
                <div class="list-item__content-column">
                    <div class="list-item__name">Андрей</div>
                    <div class="list-item__last-message">Изображение</div>
                </div>
                <div class="list-item__content-column">
                    <div class="list-item__time">10:49</div>
                    <div class="list-item__unread-message">
                        2
                    </div>
                </div>
            </div>
        </div>
        <div class="chat__list-item">
            {{> Avatar className="list-item__avatar"}}
            <div class="list-item__content">
                <div class="list-item__content-column">
                    <div class="list-item__name">Андрей</div>
                    <div class="list-item__last-message">Изображение</div>
                </div>
                <div class="list-item__content-column">
                    <div class="list-item__time">10:49</div>
                    <div class="list-item__unread-message">
                        2
                    </div>
                </div>
            </div>
        </div>
        <div class="chat__list-item">
            {{> Avatar className="list-item__avatar"}}
            <div class="list-item__content">
                <div class="list-item__content-column">
                    <div class="list-item__name">Андрей</div>
                    <div class="list-item__last-message">Изображение</div>
                </div>
                <div class="list-item__content-column">
                    <div class="list-item__time">10:49</div>
                    <div class="list-item__unread-message">
                        2
                    </div>
                </div>
            </div>
        </div>
        <div class="chat__list-item">
            {{> Avatar className="list-item__avatar"}}
            <div class="list-item__content">
                <div class="list-item__content-column">
                    <div class="list-item__name">Андрей</div>
                    <div class="list-item__last-message">Изображение</div>
                </div>
                <div class="list-item__content-column">
                    <div class="list-item__time">10:49</div>
                    <div class="list-item__unread-message">
                        2
                    </div>
                </div>
            </div>
        </div>
        <div class="chat__list-item">
            {{> Avatar className="list-item__avatar"}}
            <div class="list-item__content">
                <div class="list-item__content-column">
                    <div class="list-item__name">Андрей</div>
                    <div class="list-item__last-message">Изображение</div>
                </div>
                <div class="list-item__content-column">
                    <div class="list-item__time">10:49</div>
                    <div class="list-item__unread-message">
                        2
                    </div>
                </div>
            </div>
        </div>
        <div class="chat__list-item">
            {{> Avatar className="list-item__avatar"}}
            <div class="list-item__content">
                <div class="list-item__content-column">
                    <div class="list-item__name">Андрей</div>
                    <div class="list-item__last-message">Изображение</div>
                </div>
                <div class="list-item__content-column">
                    <div class="list-item__time">10:49</div>
                    <div class="list-item__unread-message">
                        2
                    </div>
                </div>
            </div>
        </div>
        <div class="chat__list-item">
            {{> Avatar className="list-item__avatar"}}
            <div class="list-item__content">
                <div class="list-item__content-column">
                    <div class="list-item__name">Андрей</div>
                    <div class="list-item__last-message">Изображение</div>
                </div>
                <div class="list-item__content-column">
                    <div class="list-item__time">10:49</div>
                    <div class="list-item__unread-message">
                        2
                    </div>
                </div>
            </div>
        </div>
        <div class="chat__list-item">
            {{> Avatar className="list-item__avatar"}}
            <div class="list-item__content">
                <div class="list-item__content-column">
                    <div class="list-item__name">Андрей</div>
                    <div class="list-item__last-message">Изображение</div>
                </div>
                <div class="list-item__content-column">
                    <div class="list-item__time">10:49</div>
                    <div class="list-item__unread-message">
                        2
                    </div>
                </div>
            </div>
        </div>
        <div class="chat__list-item">
            {{> Avatar className="list-item__avatar"}}
            <div class="list-item__content">
                <div class="list-item__content-column">
                    <div class="list-item__name">Андрей</div>
                    <div class="list-item__last-message">Изображение</div>
                </div>
                <div class="list-item__content-column">
                    <div class="list-item__time">10:49</div>
                    <div class="list-item__unread-message">
                        2
                    </div>
                </div>
            </div>
        </div>
        <div class="chat__list-item">
            {{> Avatar className="list-item__avatar"}}
            <div class="list-item__content">
                <div class="list-item__content-column">
                    <div class="list-item__name">Андрей</div>
                    <div class="list-item__last-message">Изображение</div>
                </div>
                <div class="list-item__content-column">
                    <div class="list-item__time">10:49</div>
                    <div class="list-item__unread-message">
                        2
                    </div>
                </div>
            </div>
        </div>
        <div class="chat__list-item">
            {{> Avatar className="list-item__avatar"}}
            <div class="list-item__content">
                <div class="list-item__content-column">
                    <div class="list-item__name">Андрей</div>
                    <div class="list-item__last-message">Изображение</div>
                </div>
                <div class="list-item__content-column">
                    <div class="list-item__time">10:49</div>
                    <div class="list-item__unread-message">
                        2
                    </div>
                </div>
            </div>
        </div>
        <div class="chat__list-item">
            {{> Avatar className="list-item__avatar"}}
            <div class="list-item__content">
                <div class="list-item__content-column">
                    <div class="list-item__name">Андрей</div>
                    <div class="list-item__last-message">Изображение</div>
                </div>
                <div class="list-item__content-column">
                    <div class="list-item__time">10:49</div>
                    <div class="list-item__unread-message">
                        2
                    </div>
                </div>
            </div>
        </div>
        <div class="chat__list-item">
            {{> Avatar className="list-item__avatar"}}
            <div class="list-item__content">
                <div class="list-item__content-column">
                    <div class="list-item__name">Андрей</div>
                    <div class="list-item__last-message">Изображение</div>
                </div>
                <div class="list-item__content-column">
                    <div class="list-item__time">10:49</div>
                    <div class="list-item__unread-message">
                        2
                    </div>
                </div>
            </div>
        </div>
        <div class="chat__list-item">
            {{> Avatar className="list-item__avatar"}}
            <div class="list-item__content">
                <div class="list-item__content-column">
                    <div class="list-item__name">Андрей</div>
                    <div class="list-item__last-message">Изображение</div>
                </div>
                <div class="list-item__content-column">
                    <div class="list-item__time">10:49</div>
                    <div class="list-item__unread-message">
                        2
                    </div>
                </div>
            </div>
        </div>
        <div class="chat__list-item">
            {{> Avatar className="list-item__avatar"}}
            <div class="list-item__content">
                <div class="list-item__content-column">
                    <div class="list-item__name">Андрей</div>
                    <div class="list-item__last-message">Изображение</div>
                </div>
                <div class="list-item__content-column">
                    <div class="list-item__time">10:49</div>
                    <div class="list-item__unread-message">
                        2
                    </div>
                </div>
            </div>
        </div>
        <div class="chat__list-item">
            {{> Avatar className="list-item__avatar"}}
            <div class="list-item__content">
                <div class="list-item__content-column">
                    <div class="list-item__name">Андрей</div>
                    <div class="list-item__last-message">Изображение</div>
                </div>
                <div class="list-item__content-column">
                    <div class="list-item__time">10:49</div>
                    <div class="list-item__unread-message">
                        2
                    </div>
                </div>
            </div>
        </div>
        <div class="chat__list-item">
            {{> Avatar className="list-item__avatar"}}
            <div class="list-item__content">
                <div class="list-item__content-column">
                    <div class="list-item__name">Андрей</div>
                    <div class="list-item__last-message">Изображение</div>
                </div>
                <div class="list-item__content-column">
                    <div class="list-item__time">10:49</div>
                    <div class="list-item__unread-message">
                        2
                    </div>
                </div>
            </div>
        </div>
        <div class="chat__list-item">
            {{> Avatar className="list-item__avatar"}}
            <div class="list-item__content">
                <div class="list-item__content-column">
                    <div class="list-item__name">Андрей</div>
                    <div class="list-item__last-message">Изображение</div>
                </div>
                <div class="list-item__content-column">
                    <div class="list-item__time">10:49</div>
                    <div class="list-item__unread-message">
                        2
                    </div>
                </div>
            </div>
        </div>
        <div class="chat__list-item">
            {{> Avatar className="list-item__avatar"}}
            <div class="list-item__content">
                <div class="list-item__content-column">
                    <div class="list-item__name">Андрей</div>
                    <div class="list-item__last-message">Изображение</div>
                </div>
                <div class="list-item__content-column">
                    <div class="list-item__time">10:49</div>
                    <div class="list-item__unread-message">
                        2
                    </div>
                </div>
            </div>
        </div>
        <div class="chat__list-item">
            {{> Avatar className="list-item__avatar"}}
            <div class="list-item__content">
                <div class="list-item__content-column">
                    <div class="list-item__name">Андрей</div>
                    <div class="list-item__last-message">Изображение</div>
                </div>
                <div class="list-item__content-column">
                    <div class="list-item__time">10:49</div>
                    <div class="list-item__unread-message">
                        2
                    </div>
                </div>
            </div>
        </div>
        <div class="chat__list-item">
            {{> Avatar className="list-item__avatar"}}
            <div class="list-item__content">
                <div class="list-item__content-column">
                    <div class="list-item__name">Андрей</div>
                    <div class="list-item__last-message">Изображение</div>
                </div>
                <div class="list-item__content-column">
                    <div class="list-item__time">10:49</div>
                    <div class="list-item__unread-message">
                        2
                    </div>
                </div>
            </div>
        </div>
        <div class="chat__list-item">
            {{> Avatar className="list-item__avatar"}}
            <div class="list-item__content">
                <div class="list-item__content-column">
                    <div class="list-item__name">Андрей</div>
                    <div class="list-item__last-message">Изображение</div>
                </div>
                <div class="list-item__content-column">
                    <div class="list-item__time">10:49</div>
                    <div class="list-item__unread-message">
                        2
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="chat-window">
        Выберите чат чтобы отправить сообщение
    </div>
</div>