<div class="edit-password">
    {{> PanelBack }}
    <div class="edit-password__content">
        {{> Avatar className="edit-password__avatar" src="../../icons/Union.svg"}}
        <h2 class="edit-password__name">Name</h2>
        <div class="edit-password__data-list">
            {{> EditTextField className="edit-password__edit-text-field" title="Старый пароль" name="oldPassword" value="12345678" type="password"}}
            {{> EditTextField className="edit-password__edit-text-field" title="Новый пароль" name="newPassword" value="1qaz2wsx3edc" type="password"}}
            {{> EditTextField className="edit-password__edit-text-field" title="Повторите новый пароль" name="newPassword" value="1qaz2wsx3edc" type="password"}}
        </div>
        {{> Button className="edit-password__save-button" text="Сохранить" page="/profile" }}
    </div>
</div>
