@import '../../sass/variables'

.link
  font: $font-small-regular
  display: flex
  flex-direction: column
  justify-content: center
  width: 100%
  text-align: center
  color: $link-color
  text-decoration: none
  cursor: pointer

  &:hover
    text-decoration: underline
